*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }


  .top-bar{
    
    height: 80px;   
}
  
nav{
    
    display: flex;
    height: 80px;
    align-items: center;
    background-color: rgb(156, 221, 143);
    justify-content: space-between;
    padding: 30px;

    & .menu { 
        display: flex;
        list-style: none;

          & li{
            margin: 0 2rem;
           }
          & a{
             color: #000;
             text-decoration: none;
          }    

    }
}






  
  .animate {
    
   
    aspect-ratio: 1 / 1;
    animation: 2s linear 0s infinite alternate sun-rise;
  }
  
  @keyframes sun-rise {
    from {
      /* pushes the sun down past the viewport */
      transform: translateY(6vh);
    }
    to {
      /* returns the sun to its default position */
      transform: translateY(0);
    }
  }
  
  .bar{
    
    height: 400px;
    background-color: rgb(231, 223, 146);
    
    
}







.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20;
    padding: 20px;
    background-color: rgb(116, 171, 180);
}
.text-section {
    width: 50%;
}
.text-section h1 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin-bottom: 20px;
}
.text-section ul {
    list-style: none;
    padding: 0;
}
.text-section ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.image-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section img {
    max-width: 80%;
    max-height: 80%;
    
}



.mySlides {display:none;}

.end-bar{
    
    height: 500px;
    background-color: rgb(247, 185, 198);
}
    
.lil-bar{
    
    height: 20px;
    background-color: rgb(247, 185, 198);
}
        
.containerr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20;
    padding: 20px;
    background-color:  rgb(247, 185, 198);
}
